<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Customers</title>
    <style>
        #customers {
          border-collapse: collapse;
        }
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 5px;
        }
        #customers tr:nth-child(even) {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<p>
    <a href="#" th:href="@{/}">Homepage</a> /
    Customers
</p>
<h1>Manage Customers</h1>
<table id="customers">
    <tr>
        <th>Name</th>
        <th>Business Customer</th>
        <th>Accounts</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td><a href="#" th:href="@{/customers/}+${customer.id}" th:text="${customer.fullName}">Sample Name</a></td>
        <td th:text="${customer.businessCustomer}">false</td>
        <td th:text="${customer.accounts}">[#1001, #1002]</td>
    </tr>
</table>
<p>
    <a href="#">New Customer</a>
</p>
</body>
</html>