<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Phone for Customer</title>
    <style>
        #customerDetails {
          border-collapse: collapse;
        }
        #customerDetails td, #customerDetails th {
          border: 1px solid #ddd;
          padding: 5px;
        }
        #customerDetails tr:nth-child(even) {
            background-color: #f0f0f0;
        }
        #customerDetails .col-heading {
            font-weight: bold;
        }
    </style>
</head>
<body>
<p>
    <a href="#" th:href="@{/}">Homepage</a> /
    <a href="#" th:href="@{/customers/}">Customers</a> /
    <a href="#" th:href="|@{/customers/}${customer.id}|" th:text="${customer.fullName}">Sample Name</a> /
    New Phone
</p>
<h1>New Phone for <span th:text="${customer.fullName}">Sample Name</span></h1>
<form action="#" th:action="|@{/customers/}${customer.id}/phones/add|" method="POST" th:object="${phone}">
    <table id="customerDetails">
        <tr>
            <td class="col-heading">Number</td>
            <td>+ <input type="text" th:field="*{number}"></td>
        </tr>
        <tr>
            <td class="col-heading">Purpose</td>
            <td><input type="text" th:field="*{purpose}"></td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Create">
    </p>
</form>
</body>
</html>